header {

    background-color:whitesmoke;
    color:black;
    padding: 10px;
    text-align: center;
    font-family: Courier New, Courier, monospace
}

footer {
    background-color:dodgerblue;
    color:whitesmoke;
    padding: 10px;
    text-align: right;
    font-family: Courier New, Courier, monospace
  
}
section {
    margin-left: 150px;
    margin-right: 150px;
    padding-top: center;
    color:gray;
    font-family: Courier New, Courier, monospace
}

h2 {
    color:dodgerblue;
    text-align: center;
}
